<style title="local">
#crn-simple-text-490651 { 
  color: red;
  opacity: 0.7;
}
</style><div id="starter" ng-init="" ng-destroy="" data-component="crn-start" screen-params="" screen-variables=""><h1 class="text-center title h1 col-md-12" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-638192">Title</h1><div class="component-holder ng-scope col-md-12" data-component="crn-component" id="crn-component-981375"><crn-component origin="components/fragmentoTeste.component.html" params="[{'key':'parametro1','type':'expression','value':'teste'},{'key':'parametro2','type':'expression','value':'teste2'}]" class=""></crn-component></div></div>